<div class="content">
<%= image_tag "presentacion/portada_fotos.JPG", 'usemap' => '#links' %>
<map id="links" name="links">
  <area shape="rect" coords="45, 36, 303, 304" href="<%= ver_galeria_path%> " alt="fotos"/>
  <area shape="rect" coords="305, 36, 564, 304" href="<%= ver_video_path%> " alt="fotos"/>
  <area shape="rect" coords="45, 304, 303, 577" href="<%= ver_catalogo_path%> " alt="fotos"/>
</map>
  </div>