<h2>Editar Foto <small>Proyecto </small></h2>
<hr />

<div style="margin-bottom: 20px;">
  <%= link_to content_tag(:i, '', :class => 'icon-arrow-left', :title => 'Volver a Videos'), videos_path(:id => @video.proyecto_id) %> 
  <%= link_to content_tag(:i, '', :class => 'icon-list-alt', :title => 'Ver Video'), video_path(@video.id) %>
</div>

<%= render 'form' %>
