/* 
    Document   : interna
    Created on : Feb 27, 2012, 5:42:11 PM
    Author     : josemanuel
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

body{
    background-image: url(/assets/presentacion/Mod_background.jpg);
}
.container{
    background-image: url(/assets/presentacion/Mod_background.jpg);

}

