<h2>Nueva Foto <small>Proyecto </small></h2>
<hr />

<p id="notice"><%= notice %></p>
<div style="margin-bottom: 20px;">
  <%= link_to content_tag(:i, '', :class => 'icon-arrow-left', :title => 'Volver a Galeria'), index_fotos_path(@foto.proyecto_id) %> 
</div>
<%= render 'form' %>
