<!DOCTYPE html>
<html>
  <head>
    <title>Presentacion del Disco</title>
    <%= stylesheet_link_tag 'presentacion', :media => 'all' %>
  </head>
  <body>
    <div class="container">
    <%= yield  %>
    </div>
  </body>
</html>
